<header>
  <dx-toolbar class="header-toolbar">
    <dxi-item
      *ngIf="menuToggleEnabled"
      location="before"
      widget="dxButton"
      cssClass="menu-button"
      [options]="{
        icon: 'menu',
        stylingMode: 'text',
        onClick: toggleMenu
      }"
    >
    </dxi-item>
    <dxi-item
      location="before"
      cssClass="header-title"
      *ngIf="title"
      [text]="title"
    >
    </dxi-item>
    <!-- <dxi-item location="after" locateInMenu="auto" menuItemTemplate="menuItem">
      <div *dxTemplate="let data of 'item'">
        <dx-button
          class="user-button authorization"
          width="210px"
          height="100%"
          stylingMode="text"
        >
          <div *dxTemplate="let data of 'content'">
            <app-user-panel
              [user]="user"
              [menuItems]="userMenuItems"
              menuMode="context"
            ></app-user-panel>
          </div>
        </dx-button>
      </div>
    </dxi-item> -->
    <!-- <div *dxTemplate="let data of 'menuItem'">
      <app-user-panel
        [user]="user"
        [menuItems]="userMenuItems"
        menuMode="list"
      ></app-user-panel>
    </div> -->
    <dxi-item
      location="after"
      widget="dxButton"
      [options]="{
        icon: 'save',
        text: 'Backup',
        stylingMode: 'text',
        onClick: backup
      }"
    >
    </dxi-item>
    <dxi-item
      location="after"
      widget="dxButton"
      [options]="{
        icon: 'import',
        text: 'Restaurar',
        stylingMode: 'text',
        onClick: openDialog
      }"
    >
    </dxi-item>
  </dx-toolbar>
</header>

<dx-popup
  [showTitle]="true"
  title="Restaurar dados do sistema"
  [dragEnabled]="false"
  [hideOnOutsideClick]="true"
  [showCloseButton]="true"
  container=".dx-viewport"
  [fullScreen]="false"
  [(visible)]="openFileDialog"
  [width]="350"
  [height]="200"
>
  <div *dxTemplate="let data of 'content'">
    <dx-file-uploader
      [visible]="true"
      selectButtonText="Selecione o Arquivo..."
      labelText=""
      [allowedFileExtensions]="['.sct']"
      uploadMode="instantly"
      uploadUrl="/"
      [showFileList]="false"
      (valueChange)="restore($event)"
    >
    </dx-file-uploader>
  </div>
</dx-popup>
