<h2 class="content-block">Política de Privacidade</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <p>POLÍTICA DE PRIVACIDADE</p>
    <p>Última revisão: 06 de dezembro de 2022</p>
    <p>
      A CODTEC SISTEMAS respeita a privacidade dos usuários de seus sistemas.
    </p>
    <p>
      Esta Política de Privacidade tem o objetivo de descrever as práticas
      relativas ao uso do SCT.
    </p>
    <p>1- INFORMAÇÕES PESSOAIS</p>
    Nenhuma informação pessoal é coletada pela CODTEC SISTEMAS. Todos os dados
    são salvos no próprio dispositivo do usuário.
    <p>2- USO DAS INFORMAÇÕES PESSOAIS</p>
    A CODTEC SISTEMAS não usa nem compartilha informações pessoais dos usuário do SCT. Se o usuário
    tiver mais dúvidas, ele pode enviar um e-mail para a CODTEC SISTEMAS através
    do e-mail sac@codtec.com.
  </div>
</div>
