<h2 class="content-block">Minha Congregação</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <form (submit)="onFormSubmit($event)">
      <dx-form
        id="form"
        [formData]="congregacao"
        labelLocation="top"
        colCount="6"
        [showValidationSummary]="true"
        labelLocation="left"
        labelMode="floating"
        validationGroup="customerData"
      >
        <dxi-item itemType="group" colCount="6" [colSpan]="6">
          <dxi-item dataField="Nome" [colSpan]="6">
            <dxo-label text="Nome da Congregação"></dxo-label>

            <dxi-validation-rule
              type="required"
              message="O campo 'Nome da Congregação' é obrigatório!"
            >
            </dxi-validation-rule>
          </dxi-item>
        </dxi-item>
        <dxi-item
          itemType="group"
          caption="Coordenador de Transporte"
          colCount="6"
          [colSpan]="3"
        >
          <dxi-item dataField="Responsavel" [colSpan]="6">
            <dxo-label text="Nome"></dxo-label>

            <dxi-validation-rule
              type="required"
              message="O campo 'Nome do Responsável' é obrigatório!"
            >
            </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="EmailResponsavel" caption="Email" [colSpan]="3">
            <dxo-label text="Email"></dxo-label>

            <dxi-validation-rule
              type="required"
              message="O campo 'Email do Responsável' é obrigatório!"
            >
            </dxi-validation-rule>
            <dxi-validation-rule
              type="email"
              message="O 'Email do Responsável' é Inválido"
            >
            </dxi-validation-rule>
          </dxi-item>
          <dxi-item
            dataField="CelularResponsavel"
            caption="Celular"
            [colSpan]="3"
            [editorOptions]="{
              mask: '+55 (00) 90000-0000',
              maskRules: phoneRules
            }"
          >
            <dxo-label text="Celular"></dxo-label>

            <dxi-validation-rule
              type="required"
              message="O campo 'Celular do Responsável' é obrigatório!"
            >
            </dxi-validation-rule>
          </dxi-item>
        </dxi-item>
        <dxi-item
          itemType="group"
          caption="Ajudante de Transporte"
          colCount="6"
          [colSpan]="3"
        >
          <dxi-item dataField="Ajudante" [colSpan]="6">
            <dxo-label text="Nome"></dxo-label>
          </dxi-item>
          <dxi-item dataField="EmailAjudante" [colSpan]="3">
            <dxo-label text="Email"></dxo-label>
          </dxi-item>
          <dxi-item
            dataField="CelularAjudante"
            [colSpan]="3"
            [editorOptions]="{
              mask: '+55 (00) 90000-0000',
              maskRules: phoneRules
            }"
          >
            <dxo-label text="Celular"></dxo-label>
          </dxi-item>
        </dxi-item>

        <dxi-item
          itemType="button"
          horizontalAlignment="left"
          [buttonOptions]="buttonOptions"
          [colSpan]="6"
        >
        </dxi-item>
      </dx-form>
    </form>
  </div>
  <dx-data-grid
    [dataSource]="saidas"
    class="dx-card wide-card"
    [showBorders]="false"
    [focusedRowEnabled]="true"
    [focusedRowIndex]="0"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="true"
    (onRowValidating)="rowValidating($event)"
    (onEditingStart)="saidaMarker = undefined; saida = $event.data"
    (onInitNewRow)="initNewRow($event)"
    (onSaved)="realodSaida()"
  >
    <dxo-editing
      mode="popup"
      [allowUpdating]="true"
      [allowDeleting]="true"
      [allowAdding]="true"
      [useIcons]="true"
    >
      <dxo-popup
        [showTitle]="true"
        title="Dados do Local de Saída"
        [fullScreen]="true"
      >
      </dxo-popup>
      <dxo-form
        id="form"
        labelLocation="top"
        colCount="6"
        [showValidationSummary]="true"
        labelLocation="left"
        labelMode="floating"
      >
        <dxi-item
          itemType="group"
          caption="Dados da Partida"
          colCount="6"
          [colSpan]="6"
        >
          <dxi-item dataField="Parada" [colSpan]="3"></dxi-item>
          <dxi-item dataField="Horario" [colSpan]="3"></dxi-item
        ></dxi-item>
        <dxi-item
          itemType="group"
          caption="Endereço do Local"
          colCount="6"
          [colSpan]="6"
        >
          <dxi-item dataField="Logradouro" [colSpan]="3"></dxi-item>
          <dxi-item dataField="Numero" [colSpan]="1"></dxi-item>
          <dxi-item dataField="Complemento" [colSpan]="2"></dxi-item>
          <dxi-item dataField="Bairro" [colSpan]="3"></dxi-item>
          <dxi-item dataField="Cidade" [colSpan]="2"></dxi-item>
          <dxi-item dataField="UF" [colSpan]="1"></dxi-item>
        </dxi-item>
        <dxi-item
          itemType="group"
          caption="Localização"
          colCount="6"
          [colSpan]="6"
        >
          <dxi-item dataField="Latitude" [colSpan]="6"></dxi-item>
        </dxi-item>
      </dxo-form>
    </dxo-editing>
    <dxi-column dataField="Parada" dataType="number" [width]="30">
      <dxi-validation-rule
        type="required"
        message="O campo 'Ordem da Partida' é obrigatório!"
      ></dxi-validation-rule>
    </dxi-column>
    <dxi-column
      dataField="Horario"
      caption="Horário"
      dataType="datetime"
      [editorOptions]="{ type: 'time', pickerType: 'rollers' }"
      format="HH:mm"
      [visible]="false"
      [width]="70"
    >
      <dxi-validation-rule
        type="required"
        message="O campo 'Horário' é obrigatório!"
      ></dxi-validation-rule>
    </dxi-column>

    <dxi-column
      dataField="Logradouro"
      caption="Logradouro"
      [visible]="true"
      dataType="string"
    >
      <dxi-validation-rule
        type="required"
        message="O campo 'Lograoudro' é obrigatório!"
      ></dxi-validation-rule>
      <dxi-validation-rule
        type="stringLength"
        [min]="2"
        [max]="100"
        message="Informe no máximo 100 caracteres!"
      ></dxi-validation-rule>
    </dxi-column>

    <dxi-column
      dataField="Numero"
      caption="Número"
      dataType="string"
      [visible]="false"
    >
      <dxi-validation-rule
        type="required"
        message="O campo 'Número' é obrigatório!"
      ></dxi-validation-rule>
      <dxi-validation-rule
        type="stringLength"
        [min]="1"
        [max]="100"
        message="Informe no máximo 100 caracteres!"
      ></dxi-validation-rule>
    </dxi-column>

    <dxi-column
      dataField="Complemento"
      caption="Complemento"
      dataType="string"
      [visible]="false"
    >
    </dxi-column>

    <dxi-column
      dataField="Bairro"
      caption="Bairro"
      dataType="string"
      [visible]="false"
    >
      <dxi-validation-rule
        type="required"
        message="O campo 'Bairo' é obrigatório!"
      ></dxi-validation-rule>
      <dxi-validation-rule
        type="stringLength"
        [min]="2"
        [max]="100"
        message="Informe no máximo 100 caracteres!"
      ></dxi-validation-rule>
    </dxi-column>

    <dxi-column
      dataField="Cidade"
      caption="Cidade"
      dataType="string"
      [visible]="false"
    >
      <dxi-validation-rule
        type="required"
        message="O campo 'Cidade' é obrigatório!"
      ></dxi-validation-rule>
      <dxi-validation-rule
        type="stringLength"
        [min]="2"
        [max]="100"
        message="Informe no máximo 100 caracteres!"
      ></dxi-validation-rule>
    </dxi-column>

    <dxi-column dataField="UF" caption="UF" dataType="string" [visible]="false">
      <dxi-validation-rule
        type="required"
        message="O campo 'UF' é obrigatório!"
      ></dxi-validation-rule>
      <dxi-validation-rule
        type="stringLength"
        [min]="2"
        [max]="2"
        message="Informe no máximo 2 caracteres!"
      ></dxi-validation-rule>
    </dxi-column>

    <dxi-column
      visibleIndex="5"
      dataField="Latitude"
      caption="Latitude"
      dataType="number"
      [allowEditing]="true"
      [visible]="false"
      editCellTemplate="mapTemplate"
    >
    </dxi-column>
    <dxi-column
      visibleIndex="5"
      dataField="Longitude"
      caption="Longitude"
      dataType="number"
      [allowEditing]="true"
      [visible]="false"
    >
    </dxi-column>
    <div *dxTemplate="let d of 'mapTemplate'">
      <dx-button
        icon="map"
        [text]="
          'Latitude: ' + saida?.Latitude + ' Longitude: ' + saida?.Longitude
        "
        (onClick)="showMapaSaida(d)"
      >
      </dx-button>
    </div>
  </dx-data-grid>
  <dx-map
    class="dx-card wide-card"
    [center]="mapOptions"
    [zoom]="18"
    provider="bing"
    width="100%"
    [height]="440"
    [markers]="markers"
    [routes]="routes"
  >
  </dx-map>
</div>

<dx-popup
  [showTitle]="true"
  title="Selecione um local no mapa"
  [dragEnabled]="false"
  [hideOnOutsideClick]="true"
  [showCloseButton]="false"
  container=".dx-viewport"
  [fullScreen]="true"
  [(visible)]="showMapSaida"
>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="before"
    [options]="setLocalButtonOptions"
  >
  </dxi-toolbar-item>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="after"
    [options]="closeButtonOptions"
  >
  </dxi-toolbar-item>
  <div *dxTemplate="let data of 'content'">
    <dx-map
      class="dx-card wide-card"
      [center]="mapOptions"
      [zoom]="zoom"
      provider="bing"
      width="100%"
      height="100%"
      [markers]="getSaidaMarker()"
      (onClick)="mapOnClick($event)"
    >
    </dx-map>
  </div>
</dx-popup>
