<h2 class="content-block">Eventos</h2>

<dx-data-grid
  [dataSource]="dataSource"
  class="dx-card wide-card"
  [showBorders]="false"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="true"
  (onInitNewRow)="$event.data.Ativo = true"
>
  <dxo-search-panel
    [visible]="true"
    [width]="300"
    placeholder="Pesquisar..."
  ></dxo-search-panel>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxo-editing
    mode="popup"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [allowAdding]="true"
    [useIcons]="true"
  >
  </dxo-editing>

  <dxi-column dataField="Descricao" caption="Descrição" dataType="string">
    <dxi-validation-rule
      type="required"
      message="O campo 'Descrição' é obrigatório!"
    ></dxi-validation-rule>
    <dxi-validation-rule
      type="stringLength"
      [min]="2"
      [max]="100"
      message="Informe no máximo 100 caracteres!"
    ></dxi-validation-rule>
  </dxi-column>

  <dxi-column
    dataField="Concluido"
    caption="Ativo"
    dataType="boolean" [editorOptions]="{ iconSize: 40 }"
    trueText="Ativo"
    falseText="Inativo"
    [width]="80"
  >
  </dxi-column>
</dx-data-grid>
