.title {
  font-size: large;
}
.img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: bottom;
  max-width: 600px;

  background-image: url("/./assets/tumb.png"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.center {
  border: 5px solid;
  height: 150px;
  line-height: 150px;
  margin: auto;
}

.text-center {
  position: relative;
  top: 130px;
  margin: auto;
  text-align: center;
}

.video {
  cursor: pointer;
}
