<ng-container *ngIf="isAuthenticated(); else unauthenticated">
  <app-side-nav-inner-toolbar title="{{appInfo.title}}">
    <router-outlet></router-outlet>
    <app-footer>
      Copyright © 2011-{{appInfo.currentYear}} CODTEC SISTEMAS.
      <br/>
      Sistema desenvolvido e fornecido gratuitamente. O códigio fonte deste sistema está disponível para estudo.
    </app-footer>
  </app-side-nav-inner-toolbar>
</ng-container>

<ng-template #unauthenticated>
  <app-unauthenticated-content></app-unauthenticated-content>
</ng-template>
