<div class="content-block">
  <div class="dx-card responsive-paddings text-center">
    <div class="title"><strong>Evento</strong></div>
    <div>{{ evento.Descricao }}</div>
    <div style="font-size: x-large">{{ evento.Tema }}</div>
    <div style="font-size: x-small">
      Início: {{ evento.DataInicial | date : "dd/MM " }} | Fim:
      {{ evento.DataFinal | date : "dd/MM" }}
    </div>
  </div>
  <div class="dx-card responsive-paddings text-center col-span" style="margin-top: 20px">
    <dx-box direction="row" width="100%">
      <dxi-item [ratio]="3" style="text-align: center; font-size: small">
        <div class="title"><strong>Valor da Passagem</strong></div>
        <div>
          <strong>
            {{ evento.ValorPassagem | currency : "BRL" : true : "1.2-2" }}
          </strong>
        </div>
      </dxi-item>
    </dx-box>
  </div>
  <div class="dx-card responsive-paddings text-center col-span" style="margin-top: 20px">
    <div class="title"><strong>Financeiro</strong></div>
    <dx-box direction="row" width="100%">
      <dxi-item [ratio]="1" style="text-align: end; font-size: small">
        <div>Custo do Arranjo:</div>
        <div>Valor Recebido:</div>
        <div style="border-top: 1px solid rgba(0, 0, 0, 0.1); margin-top: 10px;padding-top: 10px;">
          Superávit/Déficit:
        </div>
      </dxi-item>
      <dxi-item
        [ratio]="1"
        style="text-align: left; font-size: small; padding-left: 10px"
      >
        <div>
          <strong>
            {{ finCusto | currency : "BRL" : true : "1.2-2" }}
          </strong>
        </div>
        <div>
          <strong>
            {{ finRecebido | currency : "BRL" : true : "1.2-2" }}
          </strong>
        </div>
        <div style="border-top: 1px solid rgba(0, 0, 0, 0.1); margin-top: 10px;padding-top: 10px;">
          <strong>
            {{ finRecebido - finCusto | currency : "BRL" : true : "1.2-2" }}
          </strong>
        </div>
      </dxi-item>
    </dx-box>
  </div>
  <div class="dx-card responsive-paddings text-center col-span" style="margin-top: 20px">
    <div class="title"><strong>Estatísticas</strong></div>
    <div *ngFor="let item of estatisticas" style="padding-bottom: 10px">
        <div class="title"></div>
        <div class="title">{{ item.Name }}</div>

      <dx-box direction="row" width="100%">
        <dxi-item [ratio]="1" style="text-align: end; font-size: small">
          <div>Passagens:</div>
          <div>Dependentes:</div>
        </dxi-item>
        <dxi-item 
          [ratio]="1"
          style="text-align: left; font-size: small; padding-left: 10px; padding-bottom:  15px;"
        >
          <div>{{ item.Passagens }}</div>
          <div>{{ item.Dependentes }}</div>
        </dxi-item>
      </dx-box>
    </div>
  </div>
</div>
