<div class="content-block">
  <div class="dx-card responsive-paddings text-center">
    <div class="title"><strong>Evento</strong></div>
    <div>{{ evento.Descricao }}</div>
    <div style="font-size: x-large">{{ evento.Tema }}</div>
    <div style="font-size: x-small">
      Início: {{ evento.DataInicial | date : "dd/MM " }} | Fim:
      {{ evento.DataFinal | date : "dd/MM" }}
    </div>
  </div>
  <div
    class="dx-card responsive-paddings text-center col-span"
    style="margin-top: 20px"
  >
    <div class="title"><strong>Financeiro</strong></div>
    <dx-box direction="row" width="100%">
      <dxi-item [ratio]="1" style="text-align: end; font-size: small">
        <div>Valor da Passagem:</div>
        <div class="title" style="padding-bottom: 15px"></div>
        <div>Custo do Arranjo:</div>
        <div>Valor Recebido:</div>
        <div
          style="
            border-top: 1px solid rgba(255,255,255,.42);;
            margin-top: 10px;
            padding-top: 10px;
          "
        >
          Superávit/Déficit:
        </div>
      </dxi-item>
      <dxi-item
        [ratio]="1"
        style="text-align: left; font-size: small; padding-left: 10px"
      >
        <div>
          <strong>
            {{ evento?.ValorPassagem | currency : "BRL" : true : "1.2-2" }}
          </strong>
        </div>
        <div class="title" style="padding-bottom: 15px"></div>
        <div>
          <strong>
            {{ finCusto | currency : "BRL" : true : "1.2-2" }}
          </strong>
        </div>
        <div>
          <strong>
            {{ finRecebido | currency : "BRL" : true : "1.2-2" }}
          </strong>
        </div>
        <div
          style="
            border-top: 1px solid rgba(255,255,255,.42);;
            margin-top: 10px;
            padding-top: 10px;
          "
        >
          <strong>
            {{ finRecebido - finCusto | currency : "BRL" : true : "1.2-2" }}
          </strong>
        </div>
      </dxi-item>
    </dx-box>
  </div>
  <div
    class="dx-card responsive-paddings text-center col-span"
    style="margin-top: 20px"
  >
    <div class="title"><strong>Estatísticas</strong></div>

    <div style="padding-bottom: 10px">
      <table style="width: 100%">
        <tbody>
          <tr>
            <th class="title2">&nbsp;Descrição</th>
            <th class="title2" *ngFor="let item of estatisticas">
              &nbsp;{{ item.Name }}
            </th>
          </tr>
          <tr>
            <td>&nbsp;Passagem:</td>
            <td *ngFor="let item of estatisticas">
              &nbsp;{{ item.Passagens }}
            </td>
          </tr>
          <tr>
            <td>&nbsp;Dependentes:</td>
            <td *ngFor="let item of estatisticas">
              &nbsp;{{ item.Dependentes }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
