<h2 class="content-block">Lista de Passagens</h2>
<dx-select-box
  [dataSource]="eventos"
  valueExpr="Oid"
  displayExpr="Tema"
  [value]="passagemService.currentEvento"
  (onValueChanged)="eventoChanged($event)"
></dx-select-box>

<dx-data-grid
  [dataSource]="dataSource"
  class="dx-card wide-card"
  [showBorders]="false"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="true"
  [showColumnHeaders]="false"
  (onEditorPreparing)="onEditorPreparation($event)"
  (onEditingStart)="editingStart($event)"
  (onInitNewRow)="initNewRow($event)"
>
  <dxo-search-panel
    [visible]="true"
    placeholder="Pesquisar..."
  ></dxo-search-panel>
  <dxo-editing
    mode="popup"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [allowAdding]="true"
    [useIcons]="true"
  >
    <dxo-popup [showTitle]="true" title="Dados da Passagem" [fullScreen]="true">
    </dxo-popup>
    <dxo-form
      id="form"
      labelLocation="top"
      colCount="6"
      [showValidationSummary]="true"
      labelLocation="left"
      labelMode="floating"
    >
      <dxi-item dataField="Passageiro.Oid" [colSpan]="6"></dxi-item>
      <dxi-item dataField="Grupo.Oid" [colSpan]="3"></dxi-item>
      <dxi-item dataField="Saida.Oid" [colSpan]="3"></dxi-item>
      <dxi-item dataField="ValorPago" [colSpan]="6"></dxi-item>
      <dxi-item itemType="group" [colSpan]="6" [colCount]="1" caption="Dias">
        <dxi-item dataField="Dias" [colSpan]="1"></dxi-item>
      </dxi-item>
      <dxi-item
        itemType="group"
        [colSpan]="6"
        [colCount]="1"
        caption="Dependentes"
      >
        <dxi-item dataField="Dependentes" [colSpan]="1"></dxi-item>
      </dxi-item>
    </dxo-form>
  </dxo-editing>
  <dxi-column
    dataField="Evento.Oid"
    caption="Evento"
    [allowSearch]="false"
    [visible]="false"
  >
    <dxi-validation-rule
      type="required"
      message="Selecione um evento antes de inserir uma nova passagem!"
    ></dxi-validation-rule>
  </dxi-column>
  <dxi-column
    dataField="Passageiro.Oid"
    caption="Passageiro"
    [setCellValue]="setPassageiroValue"
  >
    <dxo-lookup
      [dataSource]="passageiros"
      valueExpr="Oid"
      displayExpr="Nome"
    ></dxo-lookup>
    <dxi-validation-rule
      type="required"
      message="O campo 'Passageiro' é obrigatório!"
    ></dxi-validation-rule>
  </dxi-column>

  <dxi-column dataField="Grupo.Oid" caption="Grupo de Viagem" [visible]="false">
    <dxo-lookup
      valueExpr="Value"
      displayExpr="Text"
      [dataSource]="passagemService.grupos"
    ></dxo-lookup>
    <dxi-validation-rule
      type="required"
      message="O campo 'Grupo de Viagem' é obrigatório!"
    ></dxi-validation-rule>
  </dxi-column>

  <dxi-column dataField="Saida.Oid" caption="Local de Saída" [visible]="false">
    <dxo-lookup
      [dataSource]="saidas"
      valueExpr="Oid"
      displayExpr="Logradouro"
    ></dxo-lookup>
    <dxi-validation-rule
      type="required"
      message="O campo 'Local de Saída' é obrigatório!"
    ></dxi-validation-rule>
  </dxi-column>

  <dxi-column
    visibleIndex="5"
    dataField="ValorPago"
    caption="Valor Pago"
    dataType="number"
    [allowEditing]="true"
    [visible]="false"
    format="#,##0.00"
    [editorOptions]="{ format: '#,##0.00' }"
  >
  </dxi-column>

  <dxi-column
    dataField="Dias"
    [allowSearch]="false"
    [visible]="false"
    [allowFiltering]="false"
  >
    <dxo-lookup [dataSource]="dias"></dxo-lookup>
    <dxo-form-item
      ><dxo-label text=" " [showColon]="false"></dxo-label
    ></dxo-form-item>
    <dxi-validation-rule
      type="required"
      message="O campo 'Dias' é obrigatório!"
    ></dxi-validation-rule>
  </dxi-column>
  <dxi-column
    dataField="Dependentes"
    caption="Dependentes"
    [allowSearch]="false"
    [visible]="false"
    [allowFiltering]="false"
  >
    <dxo-lookup [dataSource]="dependentes"></dxo-lookup>
    <dxo-form-item
      ><dxo-label text=" " [showColon]="false"></dxo-label
    ></dxo-form-item>
  </dxi-column>
</dx-data-grid>
